main{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.carousel-panel{
        height: 100%;
        flex-grow: .4;
        min-width: 10vw;
        border-right: 1px solid black;
        width: min-content;
        /* background-color: red; */
        #carousel{
            height: 100%;
        }
        a {
            height: auto;
        }
        img{
            height: 100dvh;
            width: 100%;
            object-fit: cover;
            object-position: 0;
            animation-name: image;
            animation-duration: 5s;
            animation-timing-function: linear;
            transition: all linear;
        }
    }

@keyframes image {
    0% {object-position: 0%;}
    100% {object-position: 120%;}
    
}

.carousel-title{
    display: none;
}

.forms{
    height: 100%;
    flex-grow: 1;
}

.fordform {
    display: block;
    width: 300px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
}

textarea{
    resize: none;
    max-width: 300px;
    min-height: 200px;
}

textarea:focus{
    outline: none;
}

select.fordform {
    width: 310px;
    height: 36px;
    color: #807d7d;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

main div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.forms {
    display: block;
    text-align: center;
}

h2 {
    text-align: left;
    font-weight: 800;
}


button {
    width: 200px;
    height: 40px;
    margin-right: 8px;
    float: right;
    transition: transform 0.2s;
}

button:hover{
    transform: scale(1.1);
}

.titulo {
    margin-left: 8px;
}

@media screen and (orientation: portrait){
    main{
        flex-direction: column;
    }
}