main{
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
}
.carousel-panel{
    position: sticky;
    height: 100%;
    padding: 0;
    flex-grow: 0.4;
    min-width: 10vw;
    width: min-content;
    /* background-color: red; */
    div#carousel{
        /* background-color: #; */
        min-height: 100%;
        padding: 0;
    }
    img{
        margin: auto;
        height: 100%;
        width: 100%;
        object-fit: cover;
        /* object-position: center; */
        /* display: none; */
        animation-name: image-anim;
        animation-duration: 5s;
        animation-timing-function: linear;
        transition: all linear;
    }
    span{
        background-color: red;
        width: 100px;
        height: 100px;
    }
}

@keyframes image-anim {
    0% {object-position: 10%;}
    100% {object-position: 90%;}
    
}

.carousel-title{
    display: none;
}

.content{
    height: auto;
    flex-grow: 1;
    animation-name: test;
    animation-duration: 5s;
    animation-timing-function: linear;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    img{
        animation-name: transform-car;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        transform: translateX(5px);
    }
    
    .form-wrapper{
        position: relative;
        /* padding: 0 5px; */
        /* height: 50vh; */
        .form-main{
            left: 30dvh;
            
            border-radius: 1rem;
            animation-name: transform-form;
            animation-duration: 1.5s;
            animation-timing-function: linear;
        }
    }
}

@keyframes transform-form {
    from {transform: translateX(100dvh); box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);}
    to {transform: translateX(0);}
}
@keyframes transform-car {
    from {transform: translateX(100dvh);}
    to {transform: translateX(5px);}
}

.fordform {
    display: block;
    width: 300px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
}

textarea{
    resize: none;
    max-width: 300px;
    min-height: 200px;
}

textarea:focus{
    outline: none;
}

select.fordform {
    width: 310px;
    height: 36px;
    color: #807d7d;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

main div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.forms {
    display: block;
    text-align: center;
}

h2 {
    text-align: left;
    font-weight: 800;
}


button {
    width: 200px;
    height: 40px;
    margin-right: 8px;
    float: right;
    transition: transform 0.2s;
}

button:hover{
    transform: scale(1.1);
}

.titulo {
    margin-left: 8px;
}

@media screen and (orientation: portrait){
    main{
        flex-direction: column;
    }
}